#rename this file to tt.config

[Config]
use_prod=False
use_mfa=False

[Credentials]
# if your password has a % in it, you need to double it up.
# for example, if your password is 12345%54321 then you should
# enter it as 12345%%54321
username=YOUR USERNAME HERE
password=YOUR PASSWORD

[URI]
cert=https://api.cert.tastyworks.com
prod=https://api.tastyworks.com

[WSS]
cert=wss://streamer.cert.tastyworks.com
prod=wss://streamer.tastyworks.com
