# ! rename this file to tt.config !

[Config]
# determines if we use the TastyTrade production endpoint or the certification endpoint
use_prod=False

# Enable/Disable asking for Multi-Factor authentication
use_mfa=False

[Credentials]
# if your password has a % in it, you need to double it up.
# for example, if your password is 12345%54321 then you should
# enter it as 12345%%54321
username=YOUR USERNAME HERE
password=YOUR PASSWORD

# URI and WSS should not need to be changed unless tastytrade changes them
[URI]
cert=https://api.cert.tastyworks.com
prod=https://api.tastyworks.com

[WSS]
cert=wss://streamer.cert.tastyworks.com
prod=wss://streamer.tastyworks.com
